<a href="https://colab.research.google.com/github/ops865ops865/main-tibame20251203/blob/main/tibame20251203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# 如果 否則
age = 31
if age > 80:
    print('敬老尊賢')
elif age > 60:
    print('一半人生')
elif age > 30:
    print('青春')
else:
    print('kids')

# 列印型態
print(str('1'+'8')+'是我')
print(18, '是我')

青春
18是我
18 是我

In [11]:
#練習
year = 1804
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('閏年')
        else:
            print('平年')
    else:
        print('閏年')
else:
    print('平年')


if year % 400 == 0:
    print('閏年')
elif year % 100 == 0:
    print('平年')
elif year % 4 == 0:
    print('閏年')
else:
    print('平年')

閏年

In [18]:
# 迴圈
i = 0
while i < 5:
    print(i, i+5, i*2+1)
    i = i + 1

total = 0
i = 0
while i <5:
    total = total + (i+1)
    print(total)
    i = i +1

0 5 1
1 6 3
2 7 5
3 8 7
4 9 9
1
3
6
10
15

In [26]:
#自然對數的底數 (\(e\)): 約等於 \(2.71828\)，是自然指數函數的底數。
#e=2.71828182845904523536，近似值為271801/99990{\frac {271801}{99990}}}。
# 1/1 +1/1 +1/1*2+ 1/1*2*3 +1/1*2*3*4
total = 1
i = 1
while i < 10000:
    total = total + 1/ (i*(i))
    #print(total)
    i = i + 1
print(total)

2.64492406679828